<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @pinpin_pin_worshop.text %>
</p>

<%= link_to 'Edit', edit_pinpin_pin_worshop_path(@pinpin_pin_worshop) %> |
<%= link_to 'Back', pinpin_pin_worshops_path %>
