<h1>Editing Pinpin Pin Worshopss</h1>

<%= render 'form', pinpin_pin_worshopss: @pinpin_pin_worshopss %>

<%= link_to 'Show', @pinpin_pin_worshopss %> |
<%= link_to 'Back', pinpin_pin_worshopsses_path %>
