<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @pinpin_pin_worshopss.text %>
</p>

<%= link_to 'Edit', edit_pinpin_pin_worshopss_path(@pinpin_pin_worshopss) %> |
<%= link_to 'Back', pinpin_pin_worshopsses_path %>
