<div class="media-body">
                                 <h4 class="media-heading"><%= @user.email %></h4>

                                 <P> <%= @user.sick %>  </P>
                             </div>
                         </div>
